*
!images/
!images/*
!default/
!default/*
!default/banners/
!default/banners/*
!default/categories/
!default/categories/*
!default/products/
!default/products/*
!default/screenshots/
!default/screenshots/*
!logo/
!logo/*
!.gitignore
